.sides {

    padding-top: 5em;
}


#doIt {
    display: block;
}

.result {
    display: none;
}

.equi {
    display: none;
}

.isos {
    display: none;
}

.scale {
    display: none;
}

.not {
    display: none;
}
